@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-arabic), sans-serif;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, .5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #111827;
  width: 38px;
  height: 38px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
}